<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/196aeec1-ad2d-49da-98a2-8ca4969a14b9/resourcegroups/ChessPortalResourceGroup/providers/Microsoft.Web/sites/ChessPortalWeb20170505075257</ResourceId>
    <ResourceGroup>ChessPortalResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chessportalweb20170505075257.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.0</PublishFramework>
    <ProjectGuid>5c6cec5d-ec99-4819-bfe5-40ea8f390886</ProjectGuid>
    <MSDeployServiceURL>chessportalweb20170505075257.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChessPortalWeb20170505075257</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChessPortalWeb20170505075257</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <Target Name="PrePublishScript" BeforeTargets="PrepareForPublish">
    <PropertyGroup>
      <IsGenerateEFSQLScriptsDisabled>true</IsGenerateEFSQLScriptsDisabled>
      <SqlFilePath>$(PublishIntermediateTempPath)GeneratedSqlFile.sql</SqlFilePath>
      <DBContextName>ChessPortalContext</DBContextName>
      <ConnectionString>Data Source=tcp:chessportal.database.windows.net,1433;Initial Catalog=ChessPortalWeb20170505075257_db;User Id=anderse77@chessportal;Password=bem+biGpan1</ConnectionString>
      <PathToCsProjContainingDBContext>M:\Datahanteringmedxml\ChessPortal\ChessPortal.Data\ChessPortal.Data.csproj</PathToCsProjContainingDBContext>
    </PropertyGroup>
    <Exec Command="dotnet ef migrations script --idempotent --output &quot;$(SqlFilePath)&quot; --context  $(DBContextName) --project $(PathToCsProjContainingDBContext) --verbose" />
    <ItemGroup>
      <_EFSQLScripts Include="$(SqlFilePath)">
        <DBContext>$(DBContextName)</DBContext>
        <ConnectionString>$(ConnectionString)</ConnectionString>
        <EscapedPath>^$([System.Text.RegularExpressions.Regex]::Escape($(SqlFilePath)))$</EscapedPath>
      </_EFSQLScripts>
    </ItemGroup>
  </Target>
</Project>